<nav class="navbar navbar-default">
  <ul class="nav nav-justified">
    <li>{{link-to 'Home' 'index'}}</li>
    <li>{{link-to 'About' 'about'}}</li>
    <li>{{link-to 'Contact' 'contact'}}</li>
  </ul>
</nav>
