<div class="route-about col-xs-12">
  <h1>About Us</h1>
  <p>
    Nec te debet invenire iracundia, no nihil nominavi urbanitas nam. Et causae quaeque mei, sit in duis denique epicurei? Ex liber vidisse theophrastus vix, eu eum malis recteque, ut case clita vel! Qui ut ludus utamur, id dolorem delectus quo, at usu quidam maiorum. Qui in lorem ignota posidonium, in eam nonumy oblique neglegentur.
  </p>
  <p>
    Ei facilis maluisset definitiones per, no vidisse alienum qui. Tation eirmod dolorem vix in. Meliore percipit consequuntur pri et! Cu his sonet omnesque incorrupte. Cum no suas purto elaboraret, te harum bonorum vix. Eos viderer conclusionemque ut, verterem indoctum similique ne eum.
  </p>

  <div class="contact well col-md-6">
    <h2>Write to us</h2>
    {{contact-form}}
    <div class="clearfix"></div>
  </div>

  <div class="address col-md-6">
    <h2>Or visit us at</h2>
    <address>
      Acme Widgets Inc.<br>
      123 Bikeshed Lane<br>
      Mountain View, CA 94043<br>
      USA
    </address>
  </div>
</div>
